node_modules/
FE/node_modules/
BE/node_modules/

.env
FE/.env
BE/.env

.nuxt
FE/.nuxt

dist 
FE/dist
BE/dist/

.npm 
FE/.npm
BE/.npm


/logs
FE/logs
BE/logs

*.log
FE/*.logs
BE/*.logs

package-lock.json
FE/package-lock.json
BE/package-lock.json